.foss {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: baseline;
}

.foss .counter {
    grid-column: span 2;
}

.foss .work-list {
    grid-column: span 10;
}

@media screen and (max-width: 60rem) {
    .foss .work-list {
        grid-column: span 12;
    }
}
